<link rel="icon" href="{{ .Site.BaseURL }}IIScLogo.jpg">
<script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

{{ if isset .Params "css" }}
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/{{.Params.css}}">
{{ end }}

<script type="text/x-mathjax-config">
    MathJax.Hub.Config({
    jax: ["input/TeX", "output/HTML-CSS"],
    tex2jax: {
      inlineMath: [ ['$', '$'], ['\\(', '\\)'] ],
      displayMath: [ ['$$', '$$']],
      processEscapes: true,
      skipTags: ['script', 'noscript', 'style', 'textarea']
    },
    TeX: {
      Macros: {
        R: '\\mathbb{R}',
        Z: '\\mathbb{Z}',
        C: '\\mathbb{C}'
      }
    },
    messageStyle: "none",
    "HTML-CSS": { preferredFont: "TeX", availableFonts: ["STIX","TeX"] }
    });

    </script>

<link rel="stylesheet" href="{{ .Site.BaseURL }}css/vs.min.css">
<script type="text/javascript" src="{{ .Site.BaseURL }}js/highlight.min.js"></script>
<script type="text/javascript" charset="UTF-8" src="{{ .Site.BaseURL }}js/lean.min.js"></script>
<script type="text/javascript">
  hljs.highlightAll();
</script>
<style>
  .sidebar-about h1 {
    font-size: 2.6rem !important;
  }
</style>